body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Futura', sans-serif;
  font-size: 1.2em;
}

li {
  list-style: none;
}

h1 {
  margin-bottom: 50px;
  font-size: 2.6em;
  color: #1a1a1d;
  text-transform: lowercase;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Futura', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: 'Futura', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/* Form buttons */
button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #1a1a1d;
  color: #1a1a1d;
  font-family: 'Futura', sans-serif;
  letter-spacing: .4em;
  font-size: .6em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .2s ease-in-out .1s, color .2s ease-in-out .1s;
}

button:hover {
  cursor: pointer;
  background-color: #1a1a1d;
  color: #ffffff;
}


/* Cart buttons */
.button {
  padding: 15px 25px;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  font-family: 'Futura', sans-serif;
  letter-spacing: .4em;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .2s ease-in-out .1s, color .2s ease-in-out .1s;
}

.button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}


/* Navigation Bar */
.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  justify-content: flex-start;
  padding: 20px 50px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 600;
}

.menu a {
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #000000;
  transition: border-bottom .1s linear .1s;
}

.menu a:hover {
  border-bottom: 3px solid #ffffff;
  text-decoration: none;
}


/* Shopping bag FA icon */
.bag-ico a {
  border-bottom: 0px;
}

.bag-ico a:hover {
  border-bottom: 0px;
  text-decoration: none;
}


/* Footer section */
.footer {
  border-top: 2px solid #000000;
  margin-top: 100px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: .7em;
  line-height: 2em;
  letter-spacing: .13em;
}

.heading {
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-weight: 600;
}

.address {
  line-height: .9em;
}

.github {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: .65em;
  letter-spacing: .15em;
  color: #dddddd;
}

.github a {
  color: #dddddd;
  text-decoration: underline;
}


/* Home page item view */
.home-item-card {
  width: 275px;
  margin-bottom: 50px;
}

.home-item-image img {
  width: 250px;
}

.home-item-title {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 550;
  letter-spacing: .1em;
}

.home-item-price {
  line-height: .1em;
  font-size: .8em;
}


/* New Arrivals Section */
.home-new-arrivals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: space-between;
  width: 100%;
}

.new-arrivals-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}


/* Individual item view */
.item-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-top: 60px;
  width: 100%;
}

.item-details-img {
  display: flex;
  justify-content: center;
  width: 50%;
}

.item-details-img img {
  width: 60%;
}

.item-details-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
  width: 40%;
  padding-right: 100px;
}

.item-details-title {
  font-family: 'Futura', sans-serif;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: .2em;
  font-weight: 600;
}

.item-details-price {
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .1em;
  font-weight: 600;
}

.item-details-desc {
  color: #1a1a1d;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: .1em;
  font-weight: 400;
  padding-bottom: 30px;
  border-bottom: 8px solid #1a1a1d;
}

.item-details-add-to-cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 40%;
}


/* Items in cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: space-between;
  width: 100%;
}

.cart-item-card {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  padding-bottom: 50px;
}

.cart-item-image img {
  width: 215px;
}

.cart-item-info {
  width: 300px;
  margin-left: 50px;
  font-size: .7em;
}

.cart-title {
  font-family: 'Futura', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .18em;
}

.cart-item-desc {
  font-family: 'Times New Roman', sans-serif;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: .05em;
}

.cart-item-price, 
.cart-item-qty {
  font-family: 'Futura', sans-serif;
  font-size: .8em;
  letter-spacing: .07em;
  font-size: 1.1em;
}

.add-minus-btn {
  cursor: pointer;
  padding: 5px;
  color: #1a1a1d;
  font-size: 1.15rem;
}


/* Message displayed when cart is empty */
.empty-cart-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 120px;
}

  .empty-cart-message p {
  font-family: 'Times New Roman', serif;
  text-transform: lowercase;
  font-style: italic;
  font-size: 3em;
}


/* Shipping section */
.checkout-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 60%;
  border-top: 2px solid #ebebeb;
}

.shipping-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.shipping-message h3 {
  font-size: .9em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: lowercase;
}

.shipping-options {
  font-size: .7em;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 2em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

input[type="radio"] {
  margin-right: 20px;
}


/* Checkout button */
.checkout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.cart-total {
  font-size: .9em;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: .1em;
  line-height: .75em;
  margin-bottom: 25px;
}


/* Forms */
.form-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
}

.form-content option {
  height: 85%;
  border: 2px solid #1a1a1d;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  color: #1a1a1d; 
}

.form-content input {
  height: 85%;
  width: 200px;
  border: 1px solid #1a1a1d;
  font-family: 'Futura', sans-serif;
  font-size: .6em;
  letter-spacing: .15em;
  color: #1a1a1d;
}

.form-content button {
  margin-left: 30px;
}


/* Giftcard section */
.giftcard-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.giftcard-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 40px;
}

.giftcard-purchase {
  display: flex;
  justify-content: center;
  width: 100%
}