body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Futura', sans-serif;
  font-size: 1.2em;
}

/* Navigation Bar */
.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  justify-content: flex-start;
  padding: 20px 50px;
  color: #ffffff;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  list-style: none;
}

.menu a {
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #000000;
  transition: border-bottom .1s linear .1s;
}

.menu a:hover {
  border-bottom: 3px solid #ffffff;
}

/* Shopping cart FA icon */
.cart-icon a {
  border-bottom: 0px;
}

.cart-icon a:hover {
  border-bottom: 0px;
}

/* Items for Sale */
.item-card {
  width: 350px;
}

.item-image img {
  width: 350px;
}

/* New Arrivals Section */
.new-arrivals-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: space-between;
  width: 100%;
}

.new-arrivals-section h1 {
  margin-bottom: 75px;
  font-size: 2.6em;
  color: #1a1a1d;
  text-transform: lowercase;
}

.new-arrivals-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}


/* Items in cart */
h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 1.4em;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: space-between;
}

.cart-item-card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 575px;
}

.cart-item-image img {
  width: 225px;
}

.cart-item-info {
  width: 300px;
  margin-left: 50px;
  font-size: .7em;
}

.cart-title {
  font-size: 1.2em;
  text-transform: uppercase;
}

.cart-item-desc {
  font-family: 'Times New Roman', sans-serif;
  font-style: italic;
}

/* Message displayed when cart is empty */
.shopping-message {
  text-align: center;
  font-family: 'Times New Roman', serif;
  text-transform: lowercase;
  text-decoration: underline;
  font-style: italic;
  font-size: 3em;
}

/* Shipping options section */
.shipping-item {
  list-style: none;
}

.checkout button {
  padding: 15px 25px;
  background-color: #ffffff;
  border: 3px #1a1a1d solid;
  color: #e85a4f;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.2em;
  text-transform: lowercase;
}