body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Futura', sans-serif;
  font-size: 1.2em;
}

/* Navigation Bar */
.nav-wrapper {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #eeeeee;
}

.brand-logo {
  padding: 25px 25px;
  color: #1a1a1d;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  display: flex;
  justify-content: space-evenly;
  justify-items: flex-end;
  list-style: none;
}

.menu a {
  color: #1a1a1d;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #e3e3e3;
}